@charset "UTF-8";
/* CSS Document */

:root {
    --primary-bg: #ff3952; 
    --primary: #f22f47;    
    --secondary: #00b7be;
    --light: #ececec;
    --dark: #232323;
    --default-text: #233131;    
    --muted: #2b2f33;
}

/*@font-face {
	font-family: 'FredokaOne';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('FredokaOne'), 
		 local('FredokaOne-Regular'), 
		 url(../fonts/FredokaOne-Regular.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Quicksand-Medium';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Quicksand-Medium'), 
		 local('Quicksand-Medium), 
		 url(../fonts/Quicksand-Medium.woff) format('woff');
	src: url() format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}*/

html {	
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;  
    /*font-size: 14px;
    font-size: .875rem; */ 
	background-color: #fff;
	padding-top: 88px;
	line-height: 1.5;
	color: var(--default-text);
	position: relative;	
}

a:link,
.text-link {
    color: var(--dark);
    text-decoration: none;
    outline: 0;
}

a:visited,
.text-link:visited {
    color: var(--dark);
    text-decoration: none;
    outline: 0;
}

a:hover,
a:hover path,
.text-link:hover {
    color: var(--primary);
    fill: var(--primary);
    text-decoration: none;
    outline: 0;
}

a:active,
.text-link:active {
    color: var(--primary);
    text-decoration: none;
    outline: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fredoka One', cursive;	
}

p {
	margin-bottom: 0;
	letter-spacing: 1px;
}

.cursor-pointer,
[role="tab"],
[role="button"] {
    cursor: pointer;
    outline: 0;
}

.font-light {
	font-family: 'Quicksand', sans-serif;
}

.font-regular {
	font-family: 'Quicksand', sans-serif;
}

.font-bold {
	font-family: 'Fredoka One', cursive;
}

.font-qsb {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
}

.text-primary {
	color: var(--primary) !important;
}

.bg-primary {
	color: #fff;
	background-color: var( --primary-bg ) !important;
}

.btn-primary {
	background-color: var(--primary) !important;
	linear-gradient(to right, red , yellow);
	border: 2px solid var(--primary);
	border-radius: 1.5rem;
	text-shadow: 1px 1px var(--primary);
	font-weight: 700;
	color: #fff !important;
}

.btn-primary:hover {
	border-color: var(--primary-bg);
}

#page-loader {
	display: flex;
	align-items: center;
	justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1111;
}

.section {
	padding-top: 7.5rem;
	padding-bottom: 7.5rem;
	position: relative;
}

.section h3 {
	position: relative;
	margin-bottom: 2.5rem;
	/*white-space: nowrap;*/
}

.section h3:after {
	content: '';
	background-color: transparent;
	background-repeat: no-repeat;
	/*background-image: url('../media/icon-line.svg');*/
	/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='113.389' height='5' viewBox='0 0 113.389 5'%3E%3Cg transform='translate(-275.5 -1386.57)'%3E%3Cpath d='M-1860,1389.07h83.422' transform='translate(2138)' fill='none' stroke='%23233131' stroke-linecap='round' stroke-width='5'/%3E%3Cpath d='M-1860,1393.2h11.389' transform='translate(2235 -4.127)' fill='none' stroke='%23233131' stroke-linecap='round' stroke-width='5'/%3E%3C/g%3E%3C/svg%3E");*/
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 113 6'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23233131;stroke-linecap:round;stroke-width:3px;%7D%3C/style%3E%3C/defs%3E%3Cg%3E%3Cg id='Group_135' data-name='Group 135'%3E%3Cpath class='cls-1' d='M2.19,3H85.61'/%3E%3Cpath class='cls-1' d='M99.19,3h11.39'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	width: 100%;
	display: block;
	z-index: 0;
	position: absolute;
	left: 0;
	/*top: 5rem;*/
	height: 5px;
	bottom: -1rem;
}

.header {
	color: #fff;
	background-color: var( --primary-bg );
}

.footer {
	color: #fff;
	background-color: var( --primary-bg );
	padding-top: 3rem;
	padding-bottom: 3rem; 
}

.navbar-dark .navbar-nav .nav-link {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
}

/*#home .container {
    max-height: 50vh;
    position: relative;
}*/

#home .hero {
	max-width: 35%;
	margin: 0 auto;
	padding-top: 15%;
	z-index: 1;
}

#home .phone-mockup-black {
    position: absolute;
    bottom: -4rem;
    left: -1%;
    transform: translateY(16%);
    max-width: 20rem;
    z-index: 0;
}

#home .splashed {
    position: absolute;
    width: 7.5rem;
}

#home .splashed.icon-bottle {
    top: 7.5%;
    right: 10%;
}

#home .splashed.icon-bowl {
    width: 9rem;
    top: 30%;
    left: 70%;
}

#home .splashed.icon-burger {
	top: 70%;
	left: 70%;
}

#home .splashed.icon-donut {
    top: 60%;
    right: -1%;
}

#home .splashed.icon-pastry {
    top: 0%;
    left: 60%;
}

#home .splashed.icon-pass {
    top: 5%;
    left: 40%;
}

#main-features span,
#main-features .img-svg {
    display: block;
    text-align: center;    
    width: 6.5rem;
}

#main-features .col-6:first-child span,
#main-features .col-6:first-child .img-svg{
    width: 75px;
}

#about .gobbly-red {  
    position: absolute;
    height: 8rem;
    bottom: -4.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#about .gobbly-retail {
	position: absolute;
	right: 3rem;
    bottom: -7.5rem;
    height: 75vh;
    min-height: 500px;
    max-height: 500px;
}

#about .gobbly-assure {
    position: absolute;
    top: -6rem;
    left: 4rem;
    height: 7rem;
    width: auto;
}

#download, 
.bg-alternate {
	background-color: #fdeee9;
	background-color: rgba( 253, 238, 233, .81 )
}

#download .list-group-item {
	background-color: transparent;
	border: 0;
	margin-bottom: 1rem;
}

#download .list-group-item:last-child {
	margin-bottom: 0;
}

#download .list-group-item.active {
	background-color: transparent;
	color: inherit;
}

#download .list-group-item span {
	display: flex;
	font-size: .75rem;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	border: 1px solid var(--primary);
	background-color: #fff;
	color: var(--primary);
	margin-bottom: .75rem;
	cursor: pointer;
}

#download .list-group-item.active span {
	color: #fff;
	background-color: var(--primary);
}

#download .phoneFrameWhite {
	display: block;
	position: relative;
	max-width: 320px;
	max-width: 20rem;
	margin: 0 auto;
	z-index: 1;	
}

.mobileScreensWrapper {
	position: absolute;
	bottom: 5rem;
	top: 3rem;
	left: 3rem;
	right: 3rem;
	margin: 0 auto;
	width: 280px;
	width: 16rem;
	/*width: 70%;*/
}

#mobileScreens.carousel {
	background-color: #ee3c58;	
	height: 515px;
}

#mobileScreens .carousel-item img {
	background-color: #ee3c58;
	max-height: 515px;
	border-radius: 16px;
	border-radius: 1rem;
	object-fit: cover;
	object-position: center;
}

#mobileScreens .carousel-indicators li {
	border-radius: 50%;
	height: 1rem;
	width: 1rem;
	margin-left: .5rem;
	margin-right: .5rem;
	background-color: #e63552;
	position: relative;
}

#mobileScreens .carousel-indicators li.active:after {
	content: '';
	padding: .2rem;
	background-color: #fff;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    top: 50%;
	transform: translate(-50%,-50%);
}

#map {
	height: 100%;
	margin-top: 4rem;
	min-height: 500px;
}

#locations {	
	padding-top: 5rem;
	padding-bottom: 0;
	text-align: center;
}

#locations .container {
	text-align: left;
}

#where .gobbly-green {	
	position: absolute;
	height: 8rem;
	top: -4rem;
	left: 50%;
	transform: translateX(-50%);
}

/*#where .col-md-3 {
	flex-direction: column;
	text-align: center;
	display: flex;
	justify-content: space-between;
	font-size: 1.125rem;
	font-weight: 700;
}

#where .col-md-3 .loc {
	display: block;
	margin: 0 auto;
}*/

#where .col-md-auto svg {
    height: 8rem;
    width: 100%;
    margin-bottom: 1rem;
    height: 4rem;
}

#where .col-md-auto {
    text-align: center;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: space-around;
}

/*#where .col-md-3 svg#building {
	width: 50%;
}*/

.footer a {
	color: #fff;
}

.footer a:hover {
	color: #fff;
	text-decoration: underline;
}

.footer .icon {
	border: 0 none;
	border-radius: 50%;
	padding: 0.25rem;
	background-color: rgba(255,255,255,.3);
	height: 2rem;
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*.footer .icon img {
	width: .75rem;
}*/

.social-icons li a.icon {
	height: 3rem;
	width: 3rem;	
	margin-right: 2rem;
}

.social-icons li:last-child a.icon {
	margin-right: 0;
}

.social-icons li a img {
	height: 1.5rem;
}

.download-stores a {
	height: 3rem;
	width: 3rem;
	display: inline-flex;
	margin-right: 1rem;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 2px solid #fff;	
}

.download-stores a:last-child {
	margin-right: 0;
}

#home .download-stores a { 
	background-color: #e42739;
	border: 0 none;
	height: 2.5rem;
	width: 2.5rem;
}

.download-stores img {
	height: 1.5rem;
	transition: 1s ease-in;
}

#home .download-stores img {
	height: 1rem;
}

.download-stores a:hover img { 
    transform: scale(1.2);
}

.pulse {
	margin: 1.25rem auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background: var(--primary);
	cursor: pointer;
	box-shadow: 0 0 0 rgba(242, 47, 71, 0.44);
	animation: pulse 1s infinite;
}
.pulse:hover {
	animation: none;
}

.footer .download-stores span {
	font-size: 18px;
	font-size: 1.125rem;
}

.client {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
}

.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background-color: var(--primary);
    color: #FFF;
    text-decoration: none;
}

.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background-color: transparent;
    border: 1px solid var(--primary);
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: var(--primary);
}

.owl-carousel .owl-item img {
    max-height: 7.5rem;
    width: auto;    
}

.location-info h3 {
	white-space: normal;
}

.location-info h3:after {
	left: 50%;
	transform: translateX(-50%);
	width: 6rem;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(242, 47, 71, 1);
  }
  25% {
    box-shadow: 0 0 0 7px rgba(242, 47, 71, 0.44);
  }
  50% {
    box-shadow: 0 0 0 14px rgba(242, 47, 71, 0.29);
  }
  75% {
    box-shadow: 0 0 0 21px rgba(242, 47, 71, 0.19);
  }
  100% {
    box-shadow: 0 0 0 28px rgba(242, 47, 71, 0.09);
  }
}

.btn-callUs {
    position: relative;
    padding-left: 4rem;
    padding-right: 2rem;
}

.btn-callUs svg {
    position: absolute;
    left: .75rem;
    height: 2rem;

}

#home .display-2 {
    font-size: 6vw;
    line-height: 1;
}

.testimonial .img-fluid {
    object-fit: cover;
    object-position: center;
    height: 10rem !important;
    max-height: 10rem !important;
    width: 10rem !important;
}

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
	#locations {
		padding-left: 0;
		padding-right: 0;
	}	

	#locations .container {
		padding-left: 31px;
		padding-right: 31px;
	}

	/*.navbar-brand .img-fluid {
	    position: absolute;
	    top: 2rem;
	}*/

	.section h3 {
		font-size: 1.6rem;
	}

	#home .hero .display-4 {
		font-size: 2rem;
		margin-bottom: 0;
	}

	#home .display-2 {
		font-size: 1rem;
		margin-bottom: 1rem;
	}

	.download-stores {
		font-size: 12px;
    	font-size: .75rem;
	}

	.btn-callUs {
		font-size: 1.125rem;
	}

    #main-features .img-svg svg {
        height: 2rem;
        width: 2rem;
    }

    #main-features span {
        font-size: .5rem;
        text-align: left;
        margin-bottom: 1rem;
    }

    #main-features .col-6 {
        display: flex;
        align-items: center;
        justify-content: center;
    }    
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
    #where .col-md-auto {
        width: 20vw;
        max-width: 20%;
    }

    #where .col-md-auto:first-child {
        width: 5vw;
        margin-right: 5vw;
    }

    /*#where .col-md-auto svg {
        max-width: 60%;
    }*/
}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) {	
	body {
		padding-top: 0;
	}	

	.navbar-brand .img-fluid {
		height: 2.5rem;
	}

	.section {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	/*#home {
		margin-top: -1px;
	}*/

	#home .hero {
	    max-width: 52%;
	    margin: 0 0 0 auto;
	    padding-top: 35%;
	}

    #home .hero-content .col-md-8 {
        top: 4.1rem;
    }

	#home .phone-mockup-black {		
		max-width: 47.5%;
		bottom: -0.5rem;
		left: -.25rem;
	}
	
	#home .splashed {
		width: 3rem;
	}

	#home .display-1 {
		font-size: 3rem;
	}

	/*#home .splashed.icon-pass {	    
	    left: 10%;
	}

	#home .splashed.icon-pastry {
	    left: 40%;
	}

	#home .splashed.icon-bottle {
	    top: -1%;
	}*/

	#home .splashed.icon-burger {	    
	    top: 37.5%;
		right: 5%;
		left: inherit;
	}

	#home .splashed.icon-donut {	    
	    right: 4%;
	    top: 80%;
	}

	#home .splashed.icon-bowl {
	    width: 3rem;
	    top: 17.5%;
	    left: 55%;
	}

	#mobileScreens .carousel-indicators {
		bottom: -6rem;
	}

	#mobileScreens .carousel-caption {
		position: relative;
		color: #000;
		left: 0;
		top: 5rem;
		right: 0;
		bottom: 0;
		padding-bottom: 6rem;
	}

	/*#about {
	    /*padding-top: 10rem;*//*
	    padding-bottom: 0;
	}*/

	#about .gobbly-red-top {
		position: absolute;
		height: 8rem;
		right: 2.5%;
		top: 4rem;
	}

	/*#retail-images {
		min-height: 60vh;
        min-height: 100vw;
		margin-top: 2rem;
	}*/

	/*#about .gobbly-red {
		left: -1rem;
	    bottom: 0;
	    height: 7rem;
	    width: 45%;
	}*/

	#about .gobbly-retail {
		right: 1rem;
		height: 100%;
		bottom: 0;
	    /*width: 50%;*/
	    min-height: 90vw;
	}

	#about .gobbly-assure {
		top: 0;
		left: 0;
	}

	#download {
		padding-bottom: 12rem;
	}

	.footer {
		padding: 2rem 1rem;
	}

	.footer .social-icons .nav {
		margin-left: -.25rem;
	}

	.footer .download-stores {
		margin-top: 1.5rem;
		margin-bottom: 3rem;
	}

	.footer .download-stores a,
	.social-icons li a.icon {
		height: 2.5rem;
		width: 2.5rem;
	}

	.footer .download-stores a img,
	.social-icons li a.icon img { 
		height: 1rem;
	}

	.footer .download-stores:after,
	.footer .download-stores:before {
		content: '';
		border-bottom: 1px solid rgba( 255, 255, 255, .3 );
		position: absolute;
		top: 0;
		left: 1rem;
		width: 30%; 
	}

	.footer .download-stores:after  {
		top: 8.5rem;
	}
}

/*@media only screen and (min-width: 400px) and (max-width: 767.98px) {
	#home .container-lg {
    	height: 45vh;
	}
}*/

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {	
	.header {
		position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	    z-index: 1030;
	}

    .header .navbar {
        padding: 1.5rem 1rem;
    }

	.header .navbar .nav-link:after {
		content: '';
		border-right: 1px solid #fff;
		margin-top: 0.35rem;
		margin-left: .5rem;
		position: absolute;
		height: 15%;
	}

	.navbar-brand .img-fluid {
		height: 3rem;
        height: 4rem;
        position: absolute;
        z-index: 1;
        top: 1rem;
	}

	.header .navbar .nav-item:last-child .nav-link:after {
		border-right: 0;
	}

	/*#home .container {
		min-height: 30rem;
	}*/

    #home .container .display-2 {
        font-size: 3.5rem;
    }

    #home .phone-mockup-black {
        left: -2.5rem;
    }

	#about {
        margin-top: 7.5rem;
	}

	#about .gobbly-red-top {
		display: none;
		visibility: hidden;
	}

	#mobileScreens .carousel-indicators {
	    bottom: 12rem;
	    left: -7rem;
	    display: inline;
	    right: initial;
	    display: none;
	}

	/*#home .col-md-8 {
		top: 80%;
		transform: translateY(80%);
	}*/
	#where .col-md-3 svg {		
		max-height: 5.5rem;
	}
	/*#mobileScreens.carousel {
		max-width: 70%;
	}*/
	.footer .download-stores span {
		position: relative;
		top: -5px;
	}
}	

/* Medium devices (tablets, less than 992px) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
	#home .hero {
		margin-left: 42%;
		padding-top: 30%;
	}

	#home .splashed {
	    width: 5.5rem;
	}

	#home .splashed.icon-bowl {
	    width: 7rem;
	    top: 25%;
	    left: 66%;
	}

	#home .splashed.icon-donut {
	    top: 70%;
	}

	#home .splashed.icon-burger {
	    top: 80%;
	    left: 75%;
	}

	#about .gobbly-red {
		left: -4rem;
	}

	#about .gobbly-retail {
		right: 0;
		height: 55vh;
	    min-height: 100%;
	}
}

/* Large devices (desktops, 992px and up) */
@media only screen and  (min-width: 992px) {
    #retail-images {
        position: absolute;
        right: 0;
    }
}

/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* FHD devices (large desktops, 1920px and up) */
@media only screen and (min-width: 1920px) {
}

/* Extra small devices (portrait phones, less than 360px) */
@media only screen and (max-width: 360px) {
	/*body {
		padding-top: 74px;
	}*/

	.navbar-dark .navbar-brand {
	    max-width: 70%;
	}

	#home .phone-mockup-black {
    	max-width: 45%;
	}

	#home .display-1 {
		font-size: 2.8rem;
	}

	#home .hero {
    	max-width: 60%;
    	padding-top: 31%;
    }

    /*#home .splashed {
    	width: 3rem;
	}*/

    #about .gobbly-retail {
        min-height: 60vh;
        max-height: 60vh;
        height: 100%;
        right: -.5rem;
    }

	#home .phone-mockup-black {
		left: -0.5rem;
	}

	#home .splashed.icon-bowl {
		width: 2.5rem;
	}

	/*#home .splashed.icon-burger {
		left: 75%;	  
	}*/

	.section h3 {
		font-size: 1.35rem;
		white-space: normal;
	}

	/*.section h3:not(.one-line):after {
    	top: 4rem;
	}
	.section h3.one-line:after {
    	top: 2.5rem;
	}*/

	#download .phoneFrameWhite {
		max-width: 18rem;
       /* left: -.875rem;*/
	}

   /* .mobileScreensWrapper {
        left: 2.25rem;
    }    
    */

	#mobileScreens.carousel {
		background-color: transparent;
	}

    #mobileScreens .carousel-inner {
        overflow: visible;
    }

    #mobileScreens .carousel-item img {
        max-width: 14rem;
        /*max-height: 63vh;*/
        /*position: relative;
        left: 1rem;
        height: 465px;*/
    }

	#mobileScreens .carousel-indicators {
    	bottom: -3rem;
        left: -1rem;
	}

    #mobileScreens .carousel-caption {
        left: -1rem;
    }

	#about .gobbly-red-top {
		height: 5rem;
		top: 6rem;
	}

	/*#retail-images {
    	min-height: 60vh;
	}*/

	#about .gobbly-red {
		width: 40%;
	}
}

@media only screen and (min-width: 1600px) {
    #home .display-2 {
        font-size: 5.5rem;
    }
}
